
# HTID:2912681: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:2912681:

# HTID:3545390: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\.invive\.esy.es
RewriteRule (.*) http://www.invive.esy.es/$1 [R=301,L]
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:3545390:
